body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    font-size: 20px;
}

/* Digital Clock Style */
.clock {
    font-size: 70px;
    background: linear-gradient(45deg, #8f68ec, #ef8170); /* Gradient background */
    padding: 50px 80px;
    border-radius: 15px;
    box-shadow: 0 40px 20px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    margin-bottom: 30px;
    position: relative;
    animation: pulse 1.5s infinite ease-in-out; /* Animation on clock */
    color: #fff;
}

.clock:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* Calendar Style */
.calendar {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 35px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(203, 104, 239, 0.4);
    position: relative;
    animation: reflection 3s infinite ease-in-out;
    color: #f7eaf5;
}

.calendar:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes reflection {
    0% {
        transform: scaleX(1) translateY(0);
        opacity: 0.5;
    }
    50% {
        transform: scaleX(1.1) translateY(-7px);
        opacity: 1;
    }
    100% {
        transform: scaleX(1) translateY(0);
        opacity: 0.5;
    }
}
